.btnjs {
    background-color: #3498DB;
    color: rgb(8, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
} 
.dropbtn:hover, .dropbtn:focus {
    background-color: #29b93c;
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    background-color: #ccb3b3;
    min-width: 105px;
}
.dropdown-content a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #ddd;
}
.show {display: block;
}